---
layout: default
---

<div class="blog">

  <h1 class="home__title">{% t home.title %}</h1>
  <div class="blog__intro">
    {{ content }}
  </div> 

  <h2 class="home__title">{% t home.tutorial %}</h2>
  {% for post in site.posts %}
    <article class="blog__post">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="blog__content">
          <a class="blog__link" href="{{ post.url | relative_url }}">
            <h2 class="blog__title">{{ post.title | escape }}</h2>
          </a>
        </div>
      </li>
    </article>
  {% endfor %}
</div>
